@font-face {
  font-family: gummy;
  src: url("../fonts/gummy_bear/GummyBear.ttf");
}
@font-face {
  font-family: snack;
  src: url("../fonts/snack_omeal/Snack\ Omeal.ttf");
}

.gummy {
  font-family: "gummy", cursive;
}

.snack {
  font-family: "snack", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "gummy", cursive;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.section-1 {
  background-color: #056c7e;
}

.stroke-text {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000000cc;
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-style: italic;
}

/*  */
.bell:hover,
.bell:focus {
  animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  transform-origin: top right;
}

@keyframes bellshake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
